{% extends "base.html" %}
{% block about %}active{% endblock about %}
{% block start %}

<div class = "container mx-auto card mb-6">
<div class="entry-content-wrap">
		
    <div class="entry-content single-content">
        
    <p>Welcome 🙂 to <strong><a href="/">Chef&#8217;s Recipes Point®</a></strong> , a food blog sharing recipes.</p>

    <h2 class="wp-block-heading" id="h-about-me">ABOUT US</h2>
    <p> Motive to Share Receipe to the User </p>
    
    
    <h3 class="wp-block-heading" id="h-what-you-will-find-on-swasthi-s">WHAT YOU WILL FIND HERE</h3>
    
    <p> A website based on a recipe uploader is a digital platform where users can share and upload their own recipes, 
        along with optional features such as cooking tips, food product information, and personalized recipe suggestions. 
        This type of website can also allow users to search forrecipes based on specific ingredients, cooking methods, 
        or dietary restrictions. Additionally, it can provide features like recipe categorization, user profiles, and social sharing 
        options. The website can be designed to be user-friendly, visually appealing, and easy to navigate, 
        making it a valuable resource for food enthusiasts and home cooks</p>
    </div>
    </div>
</div>
{% endblock start%}