{% extends "base.html" %}

{% block start %}

<div class = "container mt-5 mb-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="POST">
        {% csrf_token %}
        <h2 class="text-center mb-3">Registration</h2>
        <hr>
{% comment %} ===================================Alert Message======================================================== {% endcomment %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
    {% endfor %}
</div>
    {% endif %}
{% comment %} ===================================Alert Message Over======================================================== {% endcomment %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required id="exampleInputPassword1">
          </div>
          <span class = "text-center mb-2">Already have an account? <a href="/login/" class="link login-link">Login</a></span>
        <button type="submit" class="btn btn-outline-primary col-3 mx-auto">Register</button>
      </form>

    

</div>


{% endblock start%}